<div class="serverwrapper">
  <h1>Available Servers</h1>
  <app-lobby *ngFor="let lobby of lobbies" [lobby]="lobby"></app-lobby>
</div>
<div class="buttons">
  <button class="btn btn-info" (click)="createLobby()"><i class="fas fa-plus"></i></button>
  <button class="btn btn-primary" (click)="getLobbies()"><i class="fas fa-sync-alt"></i></button>
</div>

