.acc-wrapper {
  color: #271907;
  font-family: bison;
  background-image: url("../../../assets/images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 120px;
  padding: 20px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  justify-self: center;
  margin: -100px auto 30px;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("../../../assets/images/roman-stetskov-373350-unsplash.jpg");
  transition: transform .2s ease;
}

.profpic-overlay {
  position: absolute;
  text-align: center;
  opacity: 0;
  font-size: 26px;
  color: #F4F4F4;
  top: calc(50% - 26px);
  width: 100%;
  transition: opacity .2s ease;
}

.profile-picture:hover > .profpic-overlay {
  opacity: 1;
}

.profile-picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.editicon {
  position: absolute;
  opacity: 1;
  bottom: 0;
  right: 0;
  transition: opacity .2s ease;
}

.profile-picture:hover > .editicon {
  opacity: 0;
}

.header {
  text-align: center;
}

.line {
  height: 2px;
  width: 70%;
  margin: 20px auto 0;
  background-color: #271907;
}

form {
  width: 70%;
  margin: 20px auto 0;
}

.form-group {
  margin-top: 40px;
}

button {
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
