<div class="acc-wrapper">
  <div class="profile-picture">
    <div class="profpic-overlay">
      <p>change picture</p>
    </div>
    <div class="editicon">
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-pen fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
  <div class="header">
    <h1>Welcome, {{userEmail}}</h1>
    <h3>account details</h3>
    <div class="line"></div>
  </div>
  <form>
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input id="username" [className]="disabledForm ? 'form-control-plaintext': 'form-control'" type="text" value="{{username}}" [disabled]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input id="email" [className]="disabledForm ? 'form-control-plaintext': 'form-control'" type="email" value="{{userEmail}}" [disabled]="disabledForm">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6"></div>
      <div class="col-sm-3">
        <button class="btn btn-secondary btn-block" (click)="resetPassword()">reset password</button>
      </div>
      <div class="col-sm-3">
        <button [class]="disabledForm? 'btn btn-secondary btn-block' : 'btn btn-primary btn-block'" (click)="toggleEditBtn()">{{editbtntext}}</button>
      </div>
    </div>
  </form>
</div>
<app-alert *ngIf="showAlert" (eventEmitter)='closeAlert($event)'></app-alert>
