.alert {
  position: fixed;
  font-family: bison;
  padding: 20px 60px 20px 20px;
  background-color: #271907;
  top: 50px;
  color: #F4F4F4;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  animation: snackbarIn 0.5s;
}

p {
  padding: 0;
  line-height: 1.2;
  margin: 0;
}

#close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}

@keyframes snackbarIn {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

@keyframes snackbarOut {
  from {
    top: 50px;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}
