<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedin">
        <a class="nav-link" routerLink="/gameRooms" routerLinkActive="active">GameRooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rules" routerLinkActive="active">RULES</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" routerLink="/"><img src="assets/images/Logo.png" height="96px" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLoggedin">
        <button class="btn btn-primary" style="width: 140px; font-size: 1.5rem" routerLink="/login" routerLinkActive="active">Log In</button>
      </li>
      <li class="nav-item" *ngIf="!isLoggedin">
        <a class="nav-link" id="register" routerLink="/register">REGISTER</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedin">
        <ng-template #popContent>
          <app-accountpopover></app-accountpopover>
        </ng-template>
        <a class="nav-link btn btn-primary" id="username" placement="bottom" [ngbPopover]="popContent" [autoClose]="'outside'">Hi, {{loggedInUser?.username}}<i id="arrow" class="fas fa-caret-square-down"></i></a>
      </li>
    </ul>
  </div>
</nav>
