nav {
  font-family: bison;
  margin: 50px 0 0 0;
}

.navbar-brand {
  transform: translateY(-45%);
}

.popover {
  background-color: #570e00 !important;
}

#home {
  margin-left: 25px;
}

#register,
#username {
  margin-right: 35px;
}

#username {
  position: relative;
  cursor: pointer;
  color: #1D1D1D;
  width: 224px;
}

#arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
