<div class="wrapper">
  <div class="container_left">
    <div class="logo">
      <img src="../../../assets/images/Logo.png">
    </div>
    <div class="form" >
      <form [formGroup]="model" (submit)="registerUser()">
        <div class="form-group">
          <input formControlName="firstname" type="text" class="form-control" id="firsname" aria-describedby="firstnameHelp" placeholder="First Name">
          <input formControlName="lastname" type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Last Name">
        </div>
        <div class="form-group">
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
          <input formControlName="passwordConfirm" type="password" class="form-control" id="repeatpassword" placeholder="Repeat Password">
        </div>
        <div class="form-check">
          <input formControlName="TFA" type="checkbox" class="form-check-input" id="TFA">
          <label for="TFA" class="form-check-label">Google Two Factor Authentiction</label>
        </div>
        <div class="btns">
            <label class="container">
              I accept the <a href="#">Terms</a> & <a href="#">Privacy Policy</a>
              <input formControlName="tec" type="checkbox" id="terms">
              <span class="checkmark"></span>
            </label>
          <button type="submit" class="btn btn-primary">register</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container_right"></div>
</div>
