.wrapper {
  margin: 50px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.container_left {
  background-image: url("../../../assets/images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container_left .logo {
  margin-top: 25px;
  align-self: center;
}

.container_left .form {
  margin: 30px 70px 0 70px;
}

.container_left .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_left .form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #271907;
}

.container_left .form input::placeholder {
  color: #271907;
}

.container_left .form .btns {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  font-size: 14px;
  letter-spacing: 2px;
  align-self: center;
  align-items: baseline;
}

.btns .btn {
  font-size: 16px;
  letter-spacing: 4px;
  width: 120px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.btns .terms label {
  margin-left: 10px;
}

.btns .terms label a {
  text-decoration: underline;
}

.container_right {
  background-image: url("../../../assets/images/art.jpg");
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
}

/* STYLING FOR CHECKBOX */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-color: #271907;
}

/* On mouse-over, add a lighter brown background color */
.container:hover input ~ .checkmark {
  background-color: #4e330a;
}

/* When the checkbox is checked, add a lighter background on hover */
.container input:checked ~ .checkmark:hover {
  background-color: #4e330a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
