<div class="grid" *ngIf="lobby">
  <div *ngFor="let lobbyhero of lobby.heroes" class="hero {{lobbyhero.heroName}}">
    <h2 class="dungeon">{{lobbyhero.heroName}}</h2>
    <p>played by: {{lobbyhero.userProfile.username}}</p>
  </div>
  <div *ngIf="!(regdarDisplayed)" class="hero regdar">
    <h2 class="dungeon">Regdar</h2>
    <button class="btn btn-outline-primary" (click)="chooseHero('Regdar')" *ngIf="gameState !== 'ACTIVE'">Choose Regdar</button>
  </div>
  <div *ngIf="!(liddaDisplayed)" class="hero lidda">
    <h2 class="dungeon">Lidda</h2>
    <button class="btn btn-outline-primary" (click)="chooseHero('Lidda')" *ngIf="gameState !== 'ACTIVE'">Choose Lidda</button>
  </div>
  <div *ngIf="!(mialeeDisplayed)" class="hero mialee">
    <h2 class="dungeon">Mialee</h2>
    <button class="btn btn-outline-primary" (click)="chooseHero('Mialee')" *ngIf="gameState !== 'ACTIVE'">Choose Mialee</button>
  </div>
  <div *ngIf="!(jozanDisplayed)" class="hero jozan">
    <h2 class="dungeon">Jozan</h2>
    <button class="btn btn-outline-primary" (click)="chooseHero('Jozan')" *ngIf="gameState !== 'ACTIVE'">Choose Jozan</button>
  </div>
  <div class="chatbox">
    <div class="chat">
      <ul><li *ngFor="let message of listMessages"><p>{{message.sender}}: {{message.content}}</p></li></ul>
    </div>
    <input class="form-control" [(ngModel)]="message.content" (keyup.enter)="onEnter()" placeholder="Send a message ...">
  </div>
  <div class="viewers">
    <h2>Spectators</h2>
    <ul>
      <li *ngFor="let viewer of lobby.viewers">{{viewer}}</li>
    </ul>
  </div>
  <div class="controls" *ngIf="lobby.lobbyOwner === this.loginService.user.username">
    <button class="btn btn-primary" (click)="startGame()">Start Game</button>
    <button class="btn btn-danger" (click)="removeLobby()">Remove Lobby</button>
  </div>
</div>
