.grid {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 30% 30% 30% 10%;
  grid-template-areas:
    "regdar lidda chat"
    "mialee jozan chat"
    "viewers viewers chat"
    "controls controls controls";
  color: #F4F4F4;
  background-image: url("../../../assets/images/background-img.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.dungeon {
  font-family: dungeon;
  margin: 0;
  padding: 0;
}

.hero {
  margin: 20px;
  padding: 10px 10px 20px 10px;
  background-color: #271907;
  font-family: bison;
  text-align: center;
}

.regdar {
  grid-area: regdar;
}

.lidda {
  grid-area: lidda;
}

.mialee {
  grid-area: mialee;
}

.jozan {
  grid-area: jozan;
}

.chatbox {
  grid-area: chat;
}

.viewers {
  grid-area: viewers;
  margin: 20px;
  background-color: #271907;
}

.controls {
  grid-area: controls;
  background-color: #271907;
  padding: 20px;
  margin: 20px;
}

.chatbox {
  position: relative;
  background-color: #271907;
  margin: 20px;
  font-family: bison;
}

.chat {
  max-height: 477px;
  max-width: 100%;
  overflow-y: scroll;
}

.chat ul {
  margin-top: 20px;
  list-style: none;
  word-wrap: normal;
}

.chatbox input {
  position: absolute;
  bottom: 0;
  border-radius: 0;
}
