.wrapper {
  padding: 20px;
  color: #271907;
  font-family: bison;
  background: url("../../../assets/images/background-img.jpg") no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: #271907;
  color: #F4F4F4;
  padding-top: 35px;
  padding-bottom: 10px;
}

.header-item {
  width: 33%;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.character-stats {
  width: 25%;
  border: solid 2px #271907;
  border-bottom: solid 4px #271907;
}

.character-stats:first-child {
  border-left: solid 4px #271907;
}

.character-stats:last-child {
  border-right: solid 4px #271907;
}

.header-title {
  text-align: center;
  padding: 10px;
  background-color: #271907;
  color: #F4F4F4;
}

.item {
  position: relative;
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
}

.floating-title {
  position: absolute;
  font-family: dungeon;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
