<div class="wrapper">
  <div class="header">
    <h4 class="position-relative header-item"><span class="floating-title">Score</span>{{userStats?.score}}</h4>
    <h4 class="position-relative header-item"><span class="floating-title">ProfileLevel</span>{{userStats?.profileLevel}}</h4>
    <h4 class="position-relative header-item"><span class="floating-title">Fastest Clearing Time</span>{{userStats?.fastestClearingTime}}</h4>
  </div>
  <div class="flex">
    <div *ngFor="let characterStats of userStats?.characterStatistics" class="character-stats">
      <div class="header-title">
        <h3>{{characterStats.characterName}}</h3>
      </div>
      <p class="item"><span class="floating-title">Bosses Killed</span>{{characterStats.bossesKilled}}</p>
      <p class="item"><span class="floating-title">Damage Done</span>{{characterStats.damageDone}}</p>
      <p class="item"><span class="floating-title">Damage Taken</span>{{characterStats.damageTaken}}</p>
      <p class="item"><span class="floating-title">Deaths</span>{{characterStats.deaths}}</p>
      <p class="item"><span class="floating-title">Monsters Killed</span>{{characterStats.monstersKilled}}</p>
      <p class="item"><span class="floating-title">Score</span>{{characterStats.score}}</p>
      <p class="item"><span class="floating-title">Time Played</span>
        <span *ngIf="characterStats.characterName.toUpperCase() === 'REGDAR'">{{timeRegdar}}</span>
        <span *ngIf="characterStats.characterName.toUpperCase() === 'MIALEE'">{{timeMialee}}</span>
        <span *ngIf="characterStats.characterName.toUpperCase() === 'LIDDA'">{{timeLidda}}</span>
        <span *ngIf="characterStats.characterName.toUpperCase() === 'JOZAN'">{{timeJozan}}</span>
      </p>
      <p class="item"><span class="floating-title">Traps Activated</span>{{characterStats.trapsActivated}}</p>
      <p class="item"><span class="floating-title">Traps Dismantled</span>{{characterStats.trapsDismantled}}</p>
    </div>
  </div>
</div>
