<div class="text-primary">
  <h1>Rules</h1>
  <h2>Choose your role</h2>
  <p>
    The game requires between one and four players.
    The LobbyOwner chooses first.
    If you do not have enough players for each Hero,
    you can choose to play with less or replace with AI.
    We recommend to play with AI.
  </p>
  <h2>Beginning the quest</h2>
  <p>
    You start in the starting room with a door.
    As soon as you open the door, you will get an initiative turn which decides the order of turns.
    Every time you open a door the initiative turns gets shuffled, this can work to your advantage or disadvantage
    depending on the situation, use it wisely!
  </p>
  <h2>Actions</h2>
  <div>
    <p>
      Each turn you get two actions.
      You can choose to take 1 or no actions at all if you wish to do so.
      The following actions are all possible within the game and use 1 action each:
    </p>
    <ul>
      <li>
        <p>Movement:</p>
        <p>
          Each Hero can move a set number of spaces, which is displayed by a highlighted area.
          You can move them up to that number of spaces on your turn, either horizontally or vertically, but not
          diagonally.
          Heroes cannot pass through walls, pillars, trees, chests or closed doors.
          Heroes can pass through other Heroes but not through Monsters.
          Monsters can move through other Monsters, but not through heroes.
        </p>
      </li>
      <li>
        <p>Opening a door:</p>
        <p>
          Heroes can open doors to reveal new rooms by moving next to them and opening them.
          The Initiative changes immediately.
          It is possible that the player who has just had their turn will now have the first initiative
          and be required to play again, so be ready to keep going!<br>
          Some doors are locked.
          If this is the case, the Heroes need to find a skeleton key that opens the locked door.
          Unlocking a door immediately opens it.
          Note: keys do not count as an item and are carried by the group, not an individual.
          The next room gets revealed when the door to it has been opened.
        </p>
      </li>
      <li>
        Combat with a weapon or spell (see further for combat)
      </li>
      <li>
        <p>Opening a chest:</p>
        <p>
          To open a chest you must move on to the chest and have an action left to open it.
          Whenever a chest is opened the item within it shows up and it gets put in your inventory.
          You can always pick up an item, but you may have to discard another item to keep it.
          If you set off a booby trap you take damage and your turn ends immediately.
        </p>
      </li>
      <li>
        <p>Changing an item:</p>
        <p>
          You can change one item from your equipment with one in your inventory on your turn.
          You may also trade an item with another Hero, but must be standing next to them.
        </p>
      </li>
      <li>
        <h3>Special Actions</h3>
        <p>Only certain heroes can do some of these</p>
        <ul>
          <li>
            <p>Casting a spell:</p>
            <p>
              A Hero who can use magic can cast spells.
              The number of Spell Points needed to cast a spell is shown on the Spell.
              The spell must be in use by your Hero and they must have enough spell points available.
              This may be different for each magic user.
              You can keep spells until you choose to discard them.
            </p>
          </li>
          <li>
            <p>Searching for traps(NYI):</p>
            <p>
              Some Heroes, if they have the ability, can check a room for Traps.
              There is a chance for finding 1,2 or no traps.
              There is also a chance that you cannot search a room anymore.
            </p>
          </li>
          <li>
            <p>Disabling traps(NYI):</p>
            <p>
              Discovering a trap does not make it safe, however.
              To disable a trap so anyone can walk there a Hero with the necessary ability
              must stand on the trap and try to Disable it.
              There is a chance the trap blows up in your face while doing so.
            </p>
          </li>
          <li>
            <p>Healing(NYI):</p>
            <p>
              Some Heroes have the natural ability to heal other Heroes.
            </p>
          </li>
          <li>
            <p>Sneak(NYI):</p>
            <p>
              During their movement, a Hero capable of Sneak can move through a Monster.
              This does not count as another action.
              If they attack the same monster afterwards ont he same turn, you get +1 on your attack.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h2>Combat</h2>
    <p>
      Combat involves attacking a Monster with a weapon or spell.
      Each weapon and attacking spell has a certain attack power range.
      The damage done is the attackdamage (plus any extras) minus the armor of the Monster you are attacking.
    </p>
    <h3>Attack types</h3>
    <ul>
      <li>
        <p>Melee:</p>
        <p>
          Melee attacks are close combat attacks that can only be used when standing next to an opponent (not diagonally).
        </p>
      </li>
      <li>
        <p>Ranged:</p>
        <p>
          Ranged attacks can be used only over greater distances or diagonally.
          Unless otherwise stated, ranged weapons fire single shots in a straight line.
          The centre of the opponent's square must be in clear sight of the Hero firing the weapon's square.
        </p>
      </li>
    </ul>
  </div>
  <div>
    <h2>Dead Heroes</h2>
    <p>
      If a Hero dies during an Adventure, the hero-symbol will be displayed where they died.
      If brought back to life by another Hero, the Hero returns to the same space.
      Otherwise, they tak no further part in the Adventure
    </p>
    <p>
      All Heroes completely recover before the next Adventure.
      Dead Heroes lose all the Items they have collected in past Adventures (unless brought back to life).
      They return with their basic Items for the appropriate level of the next Adventure - taking them them back from another player if necessary.
      Lost items are discarded.
      To have the best chance of completing the Adventures, try to keep as many Heroes alive as possible.
    </p>
  </div>
</div>
