.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #F4F4F4;
  font-family: bison;
  padding: 20px;
  width: 60%;
  margin-left: 50%;
  margin-top: 50px;
  transform: translateX(-50%);
  border-radius: 10px;
}

.circle {
  background-color: #271907;
  width: 40px;
  height: 40px;
}

.griddiv {
  display: grid;
  grid-template-columns: 40px 20px auto;
  grid-template-rows: 40px 40px 40px;
  grid-template-areas:
    "one blank step_one"
    "two blank step_two"
    "three blank step_three";
  grid-row-gap: 10px;
  width: 60%;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: left;
  border-radius: 8px;
  background-color: #F4F4F4;
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#step-one,
#step-two,
#step-three {
  text-align: center;
  color: #271907;
}

#one,
#two,
#three {
  text-align: center;
  grid-area: one;
  background-color: #271907;
  border-radius: 100%;
}

#step-one {
  grid-area: step_one;
}

#two {
  grid-area: two;
}

#step-two {
  grid-area: step_two;
}

#three {
  grid-area: three;
}

#step-three {
  grid-area: step_three;
}

#homebtn {
  width: 60%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.dungeon {
  font-family: dungeon;
  font-size: 2.7rem;
}
