<div class="wrapper">
  <h1>Hooray! You are succesfully registered!</h1>
  <h3>But you are not fully there yet</h3>
  <div class="griddiv">
    <div id="one">1</div>
    <p id="step-one">Check your email inbox</p>
    <div id="two">2</div>
    <p id="step-two">Verify your account</p>
    <div id="three">3</div>
    <p id="step-three">Prepare yourself to enter the dungeon</p>
  </div>
  <a routerLink="/" class="btn btn-primary" id="homebtn">Back Home</a>
</div>
