.wrapper {
  margin: 100px 50px;
  background-image: url("../../../assets/images/background-img.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1815px;
}

.wrapper img {
  margin: -48px auto;
}

#main {
  background-image: url("../../../assets/images/jesper-ejsing-art-id-149172-taunting-goblins-final.jpg");
  background-position: center;
  height: 450px;
  margin-top: 35px;
  text-align: center;
}

#main .col-md {
  margin-top: 110px;
}

.btn-default {
  background-color: #EDEDED;
  color: #271907;
  font-family: bison;
  line-height: normal;
  padding: 10px 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.btn-default i {
  margin-left: 10px;
}

.bisontitle {
  font-family: bison;
  color: #EDEDED;
  line-height: 1;
}

.dungeontitle {
  font-family: dungeon;
  font-size: 110px;
  color: #EDEDED;
  line-height: 1;
  margin-top: -25px;
}
