<div class="wrapper">
  <div class="container-fluid" id="main">
    <div class="row">
      <div class="col-md">
        <h1 class="bisontitle">Explore a New Adventure</h1>
        <h1 class="dungeontitle">The Goblin Bandits</h1>
        <button class="btn btn-primary" routerLink="/gameRooms">Go To Servers</button>
        <button class="btn btn-default">Read more <i class="fas fa-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>
</div>

