<div class="hero">
  <div class="header">
    <h2>{{hero.name}}</h2>
    <p>{{hero.type}}</p>
  </div>
  <div class="stats">
    <div class="vertical-flex health">
      <i class="fas fa-heart"></i>
      <p id="maxhealthpoints">{{hero.maxHealthPoints}}</p>
    </div>
    <div class="vertical-flex magic">
      <i class="fas fa-hat-wizard"></i>
      <p id="maxmagicpoints">{{hero.maxMagicPoints}}</p>
    </div>
    <div class="vertical-flex armor">
      <i class="fas fa-shield-alt"></i>
      <p id="armor">{{hero.armor}}</p>
    </div>
    <div class="vertical-flex inventory">
      <i class="fas fa-briefcase"></i>
      <p id="inventoryspace">{{hero.inventorySpace}}</p>
    </div>
    <div class="vertical-flex equipment">
      <p>Equipment</p>
      <div id="startequipment">
        <p class="item" (click)="toggleWeapon()"><i class="fas fa-candy-cane"></i></p>
        <p class="item" (click)="toggleArtifact()" *ngIf="hero.startEquipment.artifact"><i class="fas fa-ankh"></i></p>
        <p class="item" (click)="toggleExtra()" *ngIf="hero.startEquipment.extra"><i class="fas fa-magic"></i></p>
      </div>
      <div class="equipmentdetail" *ngIf="showWeapon">
        <p>WEAPON</p>
        <p>{{hero.startEquipment.weapon.name}}</p>
        <p>{{hero.startEquipment.weapon.level}}</p>
        <p>{{hero.startEquipment.weapon.description}}</p>
      </div>
      <div class="equipmentdetail" *ngIf="hero.startEquipment.artifact && showArtifact">
        <p>ARTIFACT</p>
        <p>{{hero.startEquipment.artifact.name}}</p>
        <p>{{hero.startEquipment.artifact.level}}</p>
        <p>{{hero.startEquipment.artifact.description}}</p>
      </div>
      <div class="equipmentdetail" *ngIf="hero.startEquipment.extra && showExtra">
        <p>EXTRA</p>
        <p>{{hero.startEquipment.extra.name}}</p>
        <p>{{hero.startEquipment.extra.level}}</p>
        <p>{{hero.startEquipment.extra.description}}</p>
      </div>
    </div>
  </div>
  <div (click)="toggleDescription()" class="descriptiontitlediv">
    <p>Description<i [@flipArrow]="showDescription?'down':'up'" class="fas fa-angle-up" id="angle"></i></p>
  </div>
  <div class="description" *ngIf="showDescription" [@fade]="showDescription?'in':'out'">
    <p id="description">{{hero.description}}</p>
  </div>
  <button *ngIf="selectedHero !== hero.name" class="btn btn-info" (click)="selectHero(hero.name)">Choose {{hero.name}}</button>
  <h3 *ngIf="selectedHero === hero.name" class="btn btn-primary">SELECTED</h3>
</div>
