.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h2 {
  font-family: dungeon;
  margin-bottom: -10px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats .vertical-flex {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats .vertical-flex:last-child {
  width: 100%;
}

.stats .vertical-flex p {
  margin-top: 10px;
}

.stats .vertical-flex #startequipment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
}

.stats .vertical-flex #startequipment .item {
  background-color: #F4F4F4;
  color: #1D1D1D;
  padding: 10px;
  border-radius: 3px;
  min-width: 44px;
  text-align: center;
}

.stats .vertical-flex .equipmentdetail {
  background-color: #F4F4F4;
  color: #1D1D1D;
  padding: 10px 20px;
  font-family: Helvetica;
  font-size: 14px;
}

.description p {
  line-height: 1.3;
  font-family: Helvetica;
  font-size: 14px;
}

.descriptiontitlediv {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.descriptiontitlediv:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 28px;
  bottom: -2px;
  left: -5%;
  background-color: #F4F4F4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.descriptiontitlediv:hover {
  cursor: pointer;
  color: #1D1D1D;
}

.descriptiontitlediv:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hero p #angle {
  margin-left: 5px
}

.hero button {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}
