<form [formGroup]="model" (submit)="submitProfile()">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" formControlName="username" type="text" id="username">
  </div>
  <div>
    <label for="profilepicture">Profile picture</label>
    <input class="form-control" formControlName="profilepicture" type="file" id="profilepicture">
  </div>
  <button class="btn btn-secondary" type="submit">Submit</button>
</form>
