.wrapper {
  color: #F4F4F4;
  font-family: bison;
  text-align: center;
}

.loading {
  width: 50%;
  margin: 10% auto;
  text-align: center;
  background-color: #3B5998;
  padding: 40px;
}

i {
  margin-top: 20px;
}
