/* Add mobile styles for the component here.  */
.heroeswrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #F4F4F4;
}

.hero {
  border: solid 2px #F4F4F4;
  color: #F4F4F4F4;
  padding: 20px;
}
