.heroeswrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #F4F4F4;
  font-family: bison;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

app-hero {
  position: relative;
  border: solid 2px #F4F4F4;
  color: #F4F4F4F4;
  min-width: calc(25% - 10px);
  padding: 20px 20px 100px;
  margin: 5px;
}
