<div class="wrapper">
  <div class="lobbyDetails">
    <p id="lobbyID"><span class="title">ID</span>{{lobby.id}}</p>
    <p id="lobbyName"><span class="title">LobbyName</span>{{lobby.name}}</p>
    <p id="lobbyOwner"><span class="title">LobbyOwner</span>{{lobby.lobbyOwner}}</p>
    <p id="lobbyCapacity"><span class="title">Capacity</span>{{lobby.playerCount}}/4</p>
  </div>
  <div *ngIf="lobby.gameState?.toUpperCase() !== 'ENDED'">
    <button class="btn btn-secondary" (click)="joinLobby()">JOIN</button>
    <button class="btn btn-outline-secondary" (click)="spectateLobby()">SPECTATE</button>
  </div>
  <div *ngIf="lobby.gameState?.toUpperCase() === 'ENDED'">
    <button class="btn btn-secondary" [routerLink]="'/game/'+lobby.id+'/replay'">REPLAY</button>
  </div>
</div>
