.wrapper {
  background-color: #F4F4F4;
  color: #271907;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: bison;
  border-radius: 4px;
}

p {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.lobbyDetails {
  display: flex;
}

#lobbyID,
#lobbyOwner,
#lobbyCapacity {
  position: relative;
}

#lobbyName,
#lobbyOwner {
  min-width: 200px;
}

#lobbyName {
  position: relative;
  margin-left: 40px;
}

.title {
  font-size: 12px;
  position: absolute;
  top: -10px;
  left: 0;
}

.btn {
  width: 150px;
  margin-left: 20px;
}
