.wrapper {
  margin: 50px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.container_left {
  background-image: url("../../../assets/images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container_left .logo {
  margin-top: 25px;
  align-self: center;
}

.container_left .form {
  margin: 30px 70px 0 70px;
}

.container_left .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_left .form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #271907;
}

.container_left .form input::placeholder {
  color: #271907;
}

.container_left .form .btns {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
  align-self: center;
}

.btns .btn {
  font-family: bison;
  font-size: 16px;
  letter-spacing: 4px;
  width: 90px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.btns button {
  margin-top: -3px;
  height: 38px;
}

.container_left .form .divider {
  margin-top: 20px;
}

.container_left .form .divider p {
  text-align: center;
}

.container_left .form .divider p::before {
  display: inline-block;
  margin: 0 2% 8px 0;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #271907;
  width: 45%;
}

.container_left .form .divider p::after {
  display: inline-block;
  margin: 0 0 8px 2%;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #271907;
  width: 45%;
}

.container_left .form .social_logins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.container_left .form .social_logins .btn {
  font-family: bison;
  font-size: 16px;
  letter-spacing: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  width: 250px;
}

.container_right {
  background-image: url("../../../assets/images/art.jpg");
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
}
