<div class="wrapper">
  <div class="container_left">
    <div class="logo">
      <img src="../../../assets/images/Logo.png">
    </div>
    <div class="form">
      <div class="border rounded bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <form [formGroup]="model" (submit)="submitLogin()">
        <div class="form-group">
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="btns">
          <button type="submit" class="btn btn-primary">login</button>
          <a routerLink="/register">Register</a>
        </div>
        <div class="divider">
          <p>or</p>
        </div>
        <div class="social_logins">
          <button class="btn btn-facebook" type="button" (click)="loginWithFacebook()">Continue with Facebook</button>
          <button class="btn btn-googlep" type="button">Login with Google</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container_right"></div>
</div>
