<div>
  <form [formGroup]="model">
    <input formControlName="lobbyName" type="text" class="form-control" id="lobbyName" aria-describedby="lobbyName" placeholder="lobby name">
    <input formControlName="inviteOnly" type="checkbox" id="inviteonly">
    <label for="inviteonly">invite only</label>
    <app-heroes></app-heroes>
    <button type="submit" (click)="lobbyStart()" class="btn btn-primary">create lobby</button>
  </form>
</div>


