<div class="accountpopover">
  <button class="btn btn-primary" routerLink="/account">ACCOUNT SETTINGS</button>
  <button class="btn btn-primary" routerLink="/stats">STATISTICS</button>
  <button class="btn btn-primary">NOTIFICATIONS</button>
  <button class="btn btn-secondary" (click)="logout()">LOG OUT</button>
</div>
