.accountpopover {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: bison;
  justify-content: space-between;
  height: 225px
}

.accountpopover button {
  width: 200px;
}

.accountpopover .btn-primary {
  color: #271907;
  background-color: #F4F4F4;
}

.accountpopover .btn-secondary {
  background-color: #570e00;
  color: #F4F4F4;
}
