/* You can add global styles to this file, and also import other style files */

//CUSTOM SCSS START

@font-face {
  font-family: dungeon;
  src: url("assets/fonts/DUNGRG__.TTF");
}

@font-face {
  font-family: bebas_neue;
  src: url("assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: bison;
  src: url("assets/fonts/Bison-Bold(PersonalUse).ttf");
}

$theme-colors: (
  //DEFAULT OVERRIDE
  "secondary": #271907,
  "primary": #FFFFFF,
  "danger": #570e00,
  "success": #574937,
  //CUSTOM
  "facebook": #3B5998,
  "googlep": #dd4b39
);

$font-family-base: dungeon;
$font-size-base: 1.5rem;

body {
  background-color: #1D1D1D !important;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}
//CUSTOM SCSS END

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

form {
  font-family: bison, serif}
